<h1><%= @category.title %></h1>

<% @products.each do |product| %>
  <div>
    <%= link_to product.title, product %>
    <p><%= product.description %></p>
    <p><%= number_to_currency(product.price) %></p>
  </div>
<% end %>